<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" />
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${springAppName},%X{X-B3-TraceId:-}] %m%n"/>

    <appender name="ConsoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %date{ISO8601} %highlight(%-5level) %magenta(%thread) %cyan(%logger.%M): %message %X{X-B3-TraceId} %X{X-B3-SpanId} %n%throwable
                </pattern>
        </layout>
    </appender>

    <!-- LOG at INFO level when no spring profile is provided -->
    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="com.zaxxer.hikari" level="ALL" additivity="false">
        <appender-ref ref="HIKARI" />
        <appender-ref ref="ConsoleAppender" />
    </logger>

</configuration>
